<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zty.interfaces.mapper.InterfaceInfoMapper">

    <select id="selectByPackageId" resultType="com.zty.interfaces.entity.InterfaceInfoEntity">
        select * from interface_info where id = (SELECT interface_info_id FROM interface_package WHERE id = #{packageId})
    </select>

</mapper>
